<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicTextViewHeightSpike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A23387F61E53E6EE006B84F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A233880D1E53E6EE006B84F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23388181E53E6EE006B84F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
